extends ../layouts/page.layout.pug

block title
  title Page 1 - title

block content
  .logo-container
    a.icon-button.hide(title="Next Page" href="/pages/page2.pug")
      | this could be a link to another page

  .content
    .container
      h1 container text

    include ../components/example-component.pug
